<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유저 리스트</title>
  </head>
  <body>
    <h1>유저 리스트</h1>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>